---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$brand-primary:                     #3e1e06 !default;

$navbar-light-color:                rgba(62,30,6,.5) !default;
$navbar-light-hover-color:          rgba(62,30,6,.7) !default;
$navbar-light-active-color:         rgba(62,30,6,.9) !default;
$navbar-light-disabled-color:       rgba(62,30,6,.3) !default;

@import "bootstrap/bootstrap";

@media (max-width: 576px) {
  nav > .container {
      margin-left: 0;
      margin-right: 0;
  }
}

body {
    padding-top: 6rem;
}

.navbar-brand {
    padding: 0;

    img {
        height: 37px;
    }
}

.navbar {
    .nav-link {
        font-weight: bold;
    }
}

#content {
    min-height: 400px;
}

.btn-icon {
  @include button-size(0,0,0, $btn-border-radius-sm);
}

.text-smallcaps {
    font-variant: small-caps;
}