---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bootstrap/bootstrap";

header.navbar-fixed-top {
padding-left: 0;
padding-right: 0;
}

#content{
    margin-top: 110px;
}
