<header class="navbar navbar-light navbar-fixed-top bg-faded">
    <div class="container">
        <nav>
            <div class="clearfix hidden-md-up">
                <button class="navbar-toggler float-xs-right" type="button" data-toggle="collapse" data-target="#yale-navbar"
                    aria-controls="yale-navbar" aria-expanded="false" aria-label="Toggle navigation"></button>
                <a class="navbar-brand" href="/"><img src="img/logo.jpg" /></a>
            </div>
            <a class="navbar-brand hidden-sm-down" href="/"><img src="img/logo.jpg" /></a>
            <div class="collapse navbar-toggleable-sm" id="yale-navbar">
                <ul class="nav navbar-nav">
                    {% assign nav_items = site.pages | where_exp:"item", "item.order > 0" | sort: 'order' %} {% for item in nav_items %}
                    <li class="nav-item {% if page.title == item.title %}active{% endif %}">
                        <a class="nav-link" href="{{ item.permalink }}">{{ item.title }} {% if page.title == item.title %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    {% endfor %}
                </ul>
                <form class="form-inline float-md-right hidden-md-down">
                    {% include social.html %}
                </form> 
                <form class="form-inline hidden-md-up">
                    {% include social.html %}
                </form>               
            </div>
        </nav>
    </div>
</header>