<nav class="navbar navbar-toggleable-sm navbar-light fixed-top bg-faded">
    <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#yale-navbar"
                aria-controls="yale-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="img/logo.svg" ></a>
            <div class="collapse navbar-collapse" id="yale-navbar">
                <ul class="navbar-nav mr-auto">
                    {% assign nav_items = site.pages | where_exp:"item", "item.order > 0" | sort: 'order' %} {% for item in nav_items %}
                    <li class="nav-item {% if page.title == item.title %}active{% endif %}">
                        <a class="nav-link" href="{{ item.permalink }}">{{ item.title }} {% if page.title == item.title %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    {% endfor %}
                </ul>
                <form class="form-inline hidden-md-down">
                    {% include social.html %}
                </form> 
                <form class="form-inline hidden-md-up">
                    {% include social.html %}
                </form>               
            </div>
    </div>
</nav>
