<header class="navbar navbar-light navbar-fixed-top bg-faded" style="padding-left:0;padding-right:0;">
    <div class="container">
        <nav>
            <div class="clearfix">
                <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#yale-navbar"
                    aria-controls="yale-navbar" aria-expanded="false" aria-label="Toggle navigation">&#9776;</button>
                <a class="navbar-brand hidden-md-up" href="/"><img src="img/logo.jpg" /></a>
            </div>
            <a class="navbar-brand hidden-sm-down" href="/"><img src="img/logo.jpg" /></a>
            <div class="collapse navbar-toggleable-sm" id="yale-navbar">
                <ul class="nav navbar-nav">
                    {% assign nav_items = site.pages | where_exp:"item", "item.order > 0" | sort: 'order' %} {% for item in nav_items %}
                    <li class="nav-item {% if page.title == item.title %}active{% endif %}">
                        <a class="nav-link" href="{{ item.permalink }}">{{ item.title }} {% if page.title == item.title %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
</header>